body{
    margin: 0px;
    padding:0px;
    text-align: center;
    font-family:sans-serif;
    height: 100;
    background-image:url(../images/pexels-messina-photo-8170745.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    width: 450px;
    position:absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(10, 10, 10, 0.5);
    transform: translate(-50%, -50%);
    padding: 7px;
    box-shadow: 3px 3px 30px #919191;

}
h2{
    font-size: 40px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.868);
}
.text{
    text-align: left;
    margin-left: 150px;
    color: #fff;
}

#weight, #height{
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid #fff;
    width: 300px;
    background-color: transparent;
    border-radius: 2px;
    outline: none;

}

#result{
    color: #fff;
}

#butn{
    font-size: inherit;
    margin-top: 5px;
    border: none;
    color: #fffbfb;
    background-color: #000000;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    
}

#butn:hover{
    box-shadow: 3px 3px 15px #6b6d6f;
}

#note{
    color: rgb(242, 242, 242);
    font-size: 16px;
}

#message{
    color: #fffbfb;
}